<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="img/weather.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>About Page</title>
</head>
<body>

    <div class="main-content">
         {{>header}}    
    <img class="portrait" src="img/pic1.jpg" alt="My Image">
    <p>This site was created by Ashish Deshpande, it uses data from Mapbox and Weatherstack</p>
    <p>This site helps in finding realtime weather data !!</p>
    </div>
   
     {{>footer}}
</body>
</html>